.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.create-course-btn {
    width: 9rem;
    height: 2.5rem;
}

.create-course-btn:hover {
  background-color: #1d4ed8;
}
