.module-container {
  padding: 0 .5rem .5rem .5rem;
  border-radius: 8px;
}

.module-section {
  margin-bottom: 25px;
}

.course-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #1f2937;
}

.course-desc {
  color: #6b7280;
  margin-bottom: 20px;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0 18px 0;
  color: #374151;
}

.module-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: background 0.2s ease;
  cursor: pointer;
}

.module-card.active {
  background: #EFF6FF; 
}

.module-card:hover {
  background: #DBEAFE;
}

.module-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.module-icon {
  font-size: 20px;
  color: #2563EB;
}

.module-title {
  font-size: 1.1rem;
    font-weight: 500;
    color:#1F2937;
    margin: 0;
}

.module-dates {
  font-size: 0.9rem;
    color: #718096;
    margin: 0;
}

.module-arrow-btn {
  background: none;
  color: #9CA3AF;
  border: none;
  cursor: pointer;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: transform 0.2s;
}

.module-arrow-btn:hover {
  transform: translateX(5px);
  color: #1d4ed8; 
}

.module-arrow-btn .rotated {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.loading {
  color: #6b7280;
}

.error {
  color: #dc2626;
  font-weight: bold;
}

.module-dropdown {
  background: #f7fafc;
  border-radius: 8px;
  margin-top: 0.5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.create-module-btn{
  width: auto;
  margin-top: 2rem;
}

.create-module-btn:hover {
  background-color: #1e40af;
}

.module-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.module-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}
.edit-btn {
  background-color: #2563eb;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 8px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  max-width: 8rem;
}
.delete-btn {
  background-color: #c53030;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 8px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  max-width: 8rem;
}
.list-subtitle {
 color: #6b7280;
 font-size: 1.1rem;
 flex-grow: 1;
 margin: 8px;
}


