.error-message {
  color: red;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0 18px 0;
  color: #374151;
}

h3 {
  font-weight: 500;
  color: #2d3748;
  margin-bottom: .8rem;
  margin-top: 1.2rem;
}

button {
  width: fit-content;
  height: 2.5rem;
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

